* {
  margin: 0;
  padding: 0;
}

body {
  font: 14px "microsoft yahei";
}

.container button {
  margin: 8px 8px 8px 0;
  padding: 8px;
  cursor: pointer;
}

.container button:first-child {
  margin-left: 8px;
}
